body{
    margin: 0;
}

header{
    background-image: url('../img/pattern.png');
    background-color:#9cd6f4;
    height: 150px;
}

.containerLogo{
    width: 80%;
    margin: auto;
}

#logo{
    width: 200px;
    margin-top: 50px;
}

main{
    width: 80%;
    margin: auto;
}

main h1{
    margin-bottom: 0;
}

.author-credit{
    margin-top: 0;
    color: gray;
}

.author-credit a{
    color: #4eb5ff;
    text-decoration: none;
}

figure{
    margin: 0;
}

.highlighted{
    background-color: yellow;
}

ul{
    padding: 10px;
    margin-left: 5px;
}

th{
    background-color: #7fa6fb;
}

table{
    text-align: left;
    width: 100%;
}

thead{
    color: white;
}

.col-1{
    width: 25%;
}

.col-2{
    width:25% ;
} 

.col-3{
    width: 60%;
} 

.row-1{
    background-color: #dfe5f2;
}

.row-3{
    background-color: #dfe5f2;
} 

footer{
    
    background-color:#313a6b ;
    text-align: center;
    color: white;
    padding: 20px;
    margin-top: auto;
}




